.logo__container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.logo__element {
  background-color: #c4c4c4;
  border: 0px;
  margin: 5px;
}
.logo__circle {
  border-radius: 30px;
  width: 60px;
  height: 60px;
}

.logo__rectangle {
  width: 30px;
  height: 60px;
}

.logo__rectangle-skew {
  transform: skew(-30deg, 0);
  transform-origin: left bottom;
  margin-left: -5px;
}
